

h3 {
    font-size: 23px;
    font-weight: 500;
    font-family: cursive, Arial;
}

.container {
    margin-bottom: 1.5rem;
}
main{
    margin-top: 80px;
}
/*===============================================================*/





/*===============================================================*/
.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px solid red;
}
